{% extends 'base.html' %}
{% block content %}
    <!-- Contenido principal -->
    <main class="container mt-4">
        <header class="p-3 mb-2 bg-dark text-white">
            <div class="container-fluid py-4 text-left">
            <h1 class="text-left display-2">Agrega Laboratorio</h1>
            </div>
        </header>
        <div class="container">
            <div class="mb-3">
                <form action="" method="post">
                    {% csrf_token %}
                    {{ formulario.as_p }}
                    <button type="submit" class="btn btn-success">Guardar</button>
                </form>
            </div>
        </div>
    </main>
{% endblock %}
