{% extends 'base.html' %}
{% block content %}
        <header class="p-3 mb-2 bg-dark text-white">
            <div class="container-fluid py-4 text-left">
            <h1 class="text-left display-2">Laboratorios</h1>
            </div>
        </header>
    <div class="container p-6">

    </div>
    <div class="container p-2">
        <table class="table table-dark">
            <thead>
                <tr>
                    <th col="col">ID</th>
                    <th col="col">Nombre</th>
                    <th scope="col">Ciudad</th>
                    <th scope="col">Pais</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for lab in labos %}
                <tr>
                    <td>{{ lab.id }}</td>
                    <td>{{ lab.nombre }}</td>
                    <td>{{ lab.ciudad }}</td>
                    <td>{{ lab.pais }}</td>
                    <td>
                        <a href="/update/{{ lab.id }}">Editar</a>
                    </td>
                    <td>
                        <a href="/delete/{{ lab.id }}">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    
{% endblock %}